@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-primary-background text-primary-text scroll-smooth ;
}

a {
  @apply text-secondary hover:text-secondary-darker;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  @apply focus:outline-none focus:rounded focus-visible:ring-4 focus-visible:ring-secondary focus-visible:ring-opacity-75;
}

.nav {
  .nav-items button {
    @apply rounded-md;
    
    &:hover {
      @apply bg-primary-background-darker cursor-pointer;
    }
  }
  
  .menu-items {
    :first-child {
      @apply pt-4 rounded-t-md;
    }
    :last-child {
      @apply pb-4 rounded-b-md;
    }
  }
}

label.input-field {
  @apply flex items-center gap-2 px-4 py-2 bg-white rounded-md shadow-md font-bold;

  &.error input {
    @apply border-negative border-2;
  }

  > * {
    @apply flex-1 py-1 pl-2 bg-transparent font-normal border-b-2;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(var(--color-secondary)) rgba(var(--black-override), .1);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  @apply w-1 h-1;
}

*::-webkit-scrollbar-track {
  @apply bg-black bg-opacity-10;
}

*::-webkit-scrollbar-thumb {
  @apply border-2 border-secondary border-solid bg-secondary rounded-full;
}