@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-primary-background text-primary-text;
}

a {
  @apply text-secondary hover:text-secondary-darker;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav {
  .nav-items > * {
    @apply rounded-md;
    
    &:hover {
      @apply bg-primary-background-darker cursor-pointer;
    }
  }
  
  .menu-items {
    :first-child {
      @apply pt-4 rounded-t-md;
    }
    :last-child {
      @apply pb-4 rounded-b-md;
    }
  }
}
